
/* based off https://bootsnipp.com/snippets/ypNAe
by SeanWessell
*/
.tv {
    margin: 0 0 0 1em;
    padding: 0;
    list-style: none;
    transition: all ease-in-out 0.5s;
    position: relative
}

    .tv:first-of-type {
        margin: 0 0 0 0;
    }

    .tv > .tv-node > .tv .tv-node {
        margin: 0;
        padding: 0 0 0 1em;
        line-height: 2em;
        font-weight: 700;
        position: relative
    }

    .tv > .tv-node > .tv > .tv-node::before {
        content: "";
        display: block;
        width: 10px;
        height: 0;
        border-top: 1px solid;
        margin-top: -1px;
        position: absolute;
        top: 1em;
        left: 0
    }


    .tv > .tv-node > .tv {
        margin-left: 0.5em;
    }

    .tv > .tv-node > .tv::before {
        content: "";
        display: block;
        width: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        border-left: 1px solid
    }

    .tv > .tv-node > .tv > .tv-node:last-child::before {
        background-color: var(--background-color, #fff);
        height: auto;
        top: 1em;
        bottom: 0
    }
