.bletris-game {
    /*position: absolute;*/
    display: grid;
    grid-template-columns: repeat(14,32px) 204px;
    grid-template-rows: repeat(20,32px);
    grid-column-gap: 0;
    border: 2px dashed var(--accent-color,red);
    background-color: rgba(180, 49, 49, 0.1);
    background-image: url('dotnet-bot-pot.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

    .bletris-game .score-panel {
        grid-column: 15 / 15;
        grid-row: 1 / 21;
        background-color: rgba(180, 49, 49, 0.5);
        border-color: rgba(180, 49, 49, 0.5);
        border-width: 2px;
        border-style: solid;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: white;
        text-align: center;
        align-content: center;
    }

    .bletris-game .bletris-piece {
        max-width: 128px;
        max-height: 128px;
    }

    .bletris-game .score-panel input {
        width: 100%;
    }

@keyframes bletris-dying-animation {
    from {
        fill: red;
    }

    to {
        fill: yellow;
    }
}
.dying > #bletrisbox {
    animation-name: bletris-dying-animation;
    animation-duration: 0.4s;
}


@keyframes bletris-game-over {
    from {
        transform: rotate3d(1,0,0,0deg);
    }

    to {
        transform: rotate3d(1,0,0,360deg);
    }
}

.bletris-game-over {
    background-color: rgba(0,0,0,0.7);
}

    .bletris-game-over::before {
        position: absolute;
        content: "Game Over";
        top: 0;
        left: 0;
        right: 204px;
        bottom: 0;
        padding-top: 20%;
        text-align: center;
        font-size: 8em;
        color: aquamarine;
        text-shadow: 0px 0px 10px red;
        text-transform: uppercase;
        animation: bletris-game-over 2.0s linear infinite;
    }