@inherits BlazorComponent

<div style="float:left; margin-right:1em;">
    <span class="oi oi-clock mr-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        @Data
    </span>
</div>

@functions
{
  [Parameter] string Title { get; set; }
  [Parameter] double OffsetHours { get; set; }
  [Parameter] double OffsetMinutes { get; set; }

  private string Data => DateTime.UtcNow.AddHours(OffsetHours).AddMinutes(OffsetMinutes).ToLongTimeString();

  private Task ticker;

  protected override void OnInit()
  {
      ticker = RunTicker();
  }

  private async Task RunTicker()
  {
      while (true)
      {
          await Task.Delay(1000);
          StateHasChanged();
      }
  }

}
