@inherits BletrisGameModel
@using Microsoft.AspNetCore.Components.Web
<div>
    <div class="bletris-game @GameOver" @onkeydown="KeyPressed">
        @if (Pieces != null)
        {
            foreach (var item in Pieces)
            {
                if (item.Active)
                {
                    <BletrisPiece Refresh="Refresh" DeActivate="PieceDeActivate" Piece="item" Number="item.Number" IsPaused="IsPaused" @ref="ActivePiece" />
                }
            }
        }
        @if (UsedPoints != null)
        {
            foreach (var item in UsedPoints)
            {
                <BletrisPoint Point="item"/>
            }
        }
        <div class="score-panel">
            <h1>Bletris</h1>
            <div>&copy; Mister Magoo 2018</div>
            <h2>Score @Score</h2>
            <h3>High @HighScore</h3>
            <h2>Next Piece</h2>
            <div>
                <BletrisPiece Number="NextPieceId" @ref="NextPieceRef" DisplayOnly="true" />
            </div>
            Delay :<input id="bletris_delay" type="number" @bind-value="InitialDelay" @bind-value:event="onchange" step="100" @onfocusin="PauseGame" />
            <button class="btn btn-primary" @onclick="BtnPause" autofocus>@BtnValue</button>
        </div>
    </div>
</div>

