
.clockmain {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    --rotation: 0deg;
}

.clockbox,
#clock {
    height: 100%;
}

.clockbox {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.circle {
    fill: none;
    stroke: #000;
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.mid-circle {
    fill: #000;
}

.hour-marks {
    fill: none;
    stroke: #000;
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.hour-arm {
    fill: none;
    stroke: #000;
    stroke-width: 17;
    stroke-miterlimit: 10;
}

.minute-arm {
    fill: none;
    stroke: #000;
    stroke-width: 11;
    stroke-miterlimit: 10;
}

.second-arm {
    fill: none;
    stroke: #000;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

/* Transparent box ensuring arms center properly. */
.sizing-box {
    fill: none;
}

/* Make all arms rotate around the same center point. */
/* Optional: Use transition for animation. */
#hour,
#minute,
#second {
    transform-origin: 300px 300px;
    transition: transform .5s ease-in-out;
}

#hour {
    transform: rotate(var(--rotation));
}

#minute {
    transform: rotate(var(--rotation));
}

#second {
    transform: rotate(var(--rotation));
}
