
.draggable-dragging {
    opacity: 0.4;
    cursor: move;
}

.draggable-dropzone {
    box-shadow: 5px 5px rgba(10,10,200,0.1), -5px -5px rgba(10,10,200,0.1), -5px 5px rgba(10,10,200,0.1), 5px -5px rgba(10,10,200,0.1);
    cursor: move;
    pointer-events: none;
}
