@inherits BlazorSolidLoginModel

@if (!_session.IsLoggedIn)
{
    <div class="form-group">
        <label for="WebId">WebId</label>
        <input class="form-control" type="url" bind="@LoginServer" placeholder="https://yourusername.inrupt.net/profile/card#me"/>
        <button onclick="@LoginClick">Log In</button>
    </div>
}
else
{
    <div>
        <label>Welcome @Name</label>
        <button onclick="@LogoutClick">Log Out</button>
    </div>
}