@implements IDisposable
@implements ITab  

<div class="nav-tab">
    <a @onclick=@Activate class="nav-link @TitleCssClass">
        @Title
    </a>
</div>
<div class="nav-tab-content @TitleCssClass">
    @ChildContent
</div>

@functions {
  [CascadingParameter] TabSet ContainerTabSet { get; set; }
  [Parameter] protected string Title { get; set; }
  [Parameter] protected RenderFragment ChildContent { get; private set; }

  string TitleCssClass => ContainerTabSet.ActiveTab == this ? "active" : null;

  protected override void OnInit()
  {
      ContainerTabSet.AddTab(this);
  }

  public void Dispose()
  {
      ContainerTabSet.RemoveTab(this);
  }

  protected override void OnAfterRender()
  {
      base.OnAfterRender();
      if (ContainerTabSet.ActiveTab == this)
      {
          Activate();
      }
  }
  void Activate()
  {
      ContainerTabSet.SetActivateTab(this);
  }


}