@page "/animate"

@using Microsoft.AspNetCore.Blazor.Services

<h1>Animate!</h1>
<Flying X="34" Y="34" Speed="1" frameDelay="120" Image="/images/_free____flying_cockatiel_by_leokatana-d8qvrnm.gif" />
<Flying X="34" Y="34" Speed="5" frameDelay="80" Image="/images/_free____flying_cockatiel_by_leokatana-d8qvrnm.gif" />
<Flying X="34" Y="34" Speed="10" frameDelay="40" Image="/images/_free____flying_cockatiel_by_leokatana-d8qvrnm.gif" />
