@page "/dialog"
@using System.Timers
@inherits BLDialogModel
<h1>Is this annoying or what?</h1>
<article title="My Article">
    <p>
        Montri tion jarojn kaj pafilo pensas pano la fari pafadis bruego alia sakon ke vi antaux sxipon sed de kvazaux kiu donis estas stato ke lasi malbonan kelke surboaton lernejon estas vi ol lingvo al bonamiko antauxa zuro tamen sed la sed vojon cxar senti elsendis mi bone sia kaj eljxetis la falis akvo li kial mortitaj sed diris ili kiam de por deziris akiris boaton atingis sendube mi tiom mian estus ili sxipon vidus ekprenis la tion ni homoj kiel boaton sentos vi tiun-cxi mano iru tero por pafiloj maro signojn estas tial post kiuj liberigxi estas liberigota agis faris mem nia la tiu-cxi ekvidis kun bonamiko boaton eble reen maro kiam tial vi havigi iri sercxi fari montris ke mia enmaron en estis etendis ilia la la la unue la kiuj konfidis mi havus ke post sed kaj karolo kiun alproksimigxis ni al sekvanta iom por viro du ni al monujo homojn kaj de ili vin plu kelke mi vi por levigxis sur pecon min sendangxere tre estis fari surtere savi -- mia kuglon reaperis pafilo nelonge malbona por la kun boato estis sin pafiloj portempe travivis el nian kiam ni kaj subteni iri la diris atingis liajn
    </p>
    <p>
        Option ea dolor illum clita option dolores diam et gubergren dolor tempor enim et sea eum sed vulputate tincidunt dolore eos ut delenit aliquyam eleifend consectetuer erat nisl dolore est dolores magna elitr et aliquyam tempor eum sed no quis est exerci gubergren consequat sadipscing sed magna lorem vel ut dolores eos elit est consectetuer nulla praesent nulla justo exerci dolor nostrud laoreet clita elitr accusam facilisis nobis duis et lorem aliquyam nonummy dolores sed aliquyam vero clita dignissim no justo nulla gubergren sit tempor nibh wisi tempor nobis feugait accusam eos voluptua gubergren sadipscing sed nonumy dolor in iusto
    </p>
</article>