@page "/clocks"
@using System.Net.Mime
@using BlazorClock
Time is precious, so let's watch some...

<a href="https://twitter.com/i/status/1044981520233107456">see 4004 of these...</a>
<hr />
@if (TimeZoneInfo.GetSystemTimeZones().Any())
{
	foreach (TimeZoneInfo timeZoneInfo in TimeZoneInfo.GetSystemTimeZones())
	{
		<Clock Width="300" Height="50" ShowIcon="false" AutoTitle="true" TimeZoneId="timeZoneInfo.Id" />
	}
}
else
{
	<Clock Width="300" Height="150" ShowIcon="false" OffsetHours="1" OffsetMinutes="0" Title="British Summer Time" />
	<Clock Width="300" Height="150" ShowIcon="false" OffsetHours="2" OffsetMinutes="0" Title="European Summer Time" />
	<Clock Width="300" Height="150" ShowIcon="false" OffsetHours="-6" OffsetMinutes="0" Title="American Time" />

}



