@page "/clocks"
Time is precious, so let's watch some...

<a href="https://twitter.com/i/status/1044981520233107456">see 4004 of these...</a>
<hr />
@foreach (TimeZoneInfo timeZoneInfo in TimeZoneInfo.GetSystemTimeZones())
{
    <Ticker ShowIcon="false" AutoTitle="true" TimeZoneId="@timeZoneInfo.Id" Width="80" Height="80"/>
}



