@page "/page1"
@page "/page1/{ID}"

@using Microsoft.AspNetCore.Blazor.Services
@inject IUriHelper UriHelper

@if (!string.IsNullOrWhiteSpace(ID))
{
    <h1>Counter @ID</h1>
}
<button onclick=@IncrementCounter>Increment Counter</button>

@functions
{
  [Parameter] string ID { get; set; }

  void IncrementCounter()
  {
    UriHelper.NavigateTo<Page2>(ID);
  }

}