@page "/page1"
@using Microsoft.AspNetCore.Blazor.Services
@inject IUriHelper UriHelper

<button onclick=@GoToPage2 >Page2</button>

@functions
{

  void GoToPage2()
  {
      UriHelper.NavigateTo("Page2");    
  }

}