@page "/tabs"
@using BlazorTabSet
<TabSet>
    <TabTemplate>Hello Worls</TabTemplate>
    <ChildContent>
        <Tab Title="First tab">
            <h4>First tab</h4>
            This is the first tab.
        </Tab>

        @if (showSecondTab)
        {
            <Tab Title="Second">
                <h4>Second tab</h4>
                You can toggle me.
            </Tab>
        }

        <Tab Title="Third">
            <h4>Third tab</h4>

            <label>
                <input type="checkbox" value=@showSecondTab @onchange=@showSecondTabChanged />
                Toggle second tab
            </label>
        </Tab>
    </ChildContent>
</TabSet>

@functions
{
  static bool showSecondTab;

  void showSecondTabChanged(UIChangeEventArgs args)
  {
      showSecondTab = (bool)args.Value;
      StateHasChanged();
  }
}