@using Microsoft.AspNetCore.Identity
@using BlazorTest.Server.Areas.Identity.Data
@using System.Security.Claims
@inject SignInManager<BlazorTestServerUser> SignInManager
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorTest</a>
    <button class="navbar-toggler" onclick=@ToggleNavMenu>
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class=@(collapseNavMenu ? "collapse" : null) onclick=@ToggleNavMenu>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match=NavLinkMatch.All>
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        @if (User != null && SignInManager.IsSignedIn(User))
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </NavLink>
            </li>
        }
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="page1">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Counter Test
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="clocks">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Clocks
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="animate">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Animation
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="treeview">
                <span class="oi oi-list-rich" aria-hidden="true"></span> TreeView
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="bletris">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Bletris
            </NavLink>
        </li>
    </ul>
</div>

@functions {
bool collapseNavMenu = true;
ClaimsPrincipal User;

protected override void OnInit()
{
    base.OnInit();

    try
    {
        User = SignInManager.Context.User;
    }
    catch (Exception)
    {
    }
}

void ToggleNavMenu()
{
    collapseNavMenu = !collapseNavMenu;
}
}



